<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sue.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.sue.model.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="comment_counts" jdbcType="INTEGER" property="commentCounts" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, title, content, created_time, update_time, delete_time, is_show, category_id,
    author_id, comment_counts
  </sql>
  <select id="queryArticleDesc" resultType="com.sue.model.vo.ArticleDescVO">
    select
        ar.id as id,
        ar.title as title,
        ar.content as content,
        ar.created_time as createdTime,
        ca.category_name as categoryName
    from
	    article ar
    left join
        category ca
    on
        ar.category_id = ca.id
    where
        ar.is_show = 1
				and
			  ca.category_name is NOT null
    order by created_time
        desc
    </select>

</mapper>